@font-face {
   font-family: 'Mesveda-ExtraBold';
   font-display: swap;
   src: url('file:///Users/himanshupandey/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2025-02-27_175234/fonts/Mesveda-ExtraBold/font.ttf');
}
